html, body {
    font-size: 15pt;
    height: 100%;
}
#tableContainer {
    font-size: 18pt;
}
.error {
    text-align: center;
    color: red;
}
.panel {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    background: cyan;
    display: inline-block;
    margin:5px;
}
.panel-header {
    text-align: center;
    font-weight: bold;
}
.panel-body {
}
.panel-content {
    background: white;
    margin: 0;
    padding: 0;
}

.menu {
    background: cyan;
    height: 1.5em;
    font-size: 15pt;
    margin-bottom: 10px;
    padding: 5px;
}
.menu-left {
    background: cyan;
}
.menu-item {
    text-align: center;
}
#reportContainer {
    margin: auto;
    width: 100%;
}
.date {
    color: gray;
    text-align: right;
}
.title {
    color: gray;
}
.title_leaf {
    color: red;
}

.title-content {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    max-width:500px;
    line-height: 1.2;
}
.title-links {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    max-width:300px;
    line-height: 1.2;
}
.source {
}
.menu_right {
    float: right;
}
#overlay {
    text-align:center;
    top: 0;
    left: 0;
    padding-top: 100px;
    position: absolute;
    display: none;
    background: #FFFFFF99;
    width: 100%;
    height: 100%;
    font-weight: bold;
}
.log {
    margin: 10px 10px auto 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: none;
}
.log-entry {
    font-size: 0.6em;
}
.log-time {
    margin-left: 0px;
    font-weight: bold;
}
.log-message {
    margin-left: 10px;
}
.page-message {
    margin:auto;
    display: table;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightblue;
}
.center {
    margin:auto;
    display: table;
}
table.treetable {
    border: 0px;
    margin: 0px;
}

form table, .settings {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

form table, .form {
    background-color: cyan;
}

.link-button {
     background: none;
     border: none;
     color: #0000EE;
     text-decoration: underline;
     cursor: pointer;
     font-size: 1em;
     font-family: inherit;
}

a {
    color: #0000EE;
}

table th, table td {
    padding: 5px;
}
table th {
    background: cyan;
}
td.sign {
    text-align: right;
    font-weight: bold;
}
.buttons {
    text-align: center;
}
.helpline {
  font-size: 12pt;
}
.token-help {
    display: none;
    position:fixed;
}
/*table.layout td {
    border: 0px;
}*/
td {
    border: 0px;
}
td {
    vertical-align: top;
}
th {
    background: lightgray;
    text-align: left;
}
.list th {
    padding: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.list td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
}
input[type=number] {
    width: 30pt
}
