body {
    font-size: 15pt;
}
#tableContainer {
    font-size: 18pt;
}
.menu {
    background: cyan;
    height: 1.5em;
    font-size: 15pt;
    margin-bottom: 10px;
}
.date {
    color: gray;
    text-align: right;
}
.title {
    color: gray;
}
.title_leaf {
    color: red;
}
.source {
}
.menu_right {
    float: right;
}
#overlay {
    text-align:center;
    top: 0;
    left: 0;
    padding-top: 100px;
    position: absolute;
    display: none;
    background: #FFFFFF99;
    width: 100%;
    height: 100%;
    font-weight: bold;
}
.center {
    margin:auto;
    display: table;
}
table.treetable {
    border: 0px;
}
table.settings, .settings th, .settings td {
    border: 1px solid gray;
}

form table {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.settings th, .settings td {
    padding: 5px;
}
.settings th {
    background: cyan;
}
td.sign {
    text-align: right;
    font-weight: bold;
}
.buttons {
    text-align: center;
}
.helpline {
  font-size: 12pt;
}
.token-help {
    display: none;
    position:fixed;
}